{% if error is empty %}
    {% for change in changes %}
        <div class="autocode-change">
            <div class="autocode-change-summary">
                <div class="full-file-name">
                    {% if change.what == 'NEW' %}
                        <span class="autocode-new-file">New file</span>
                    {% endif %}
                    {% if change.what == 'BEING_REMOVED' %}
                        <span class="autocode-deleted-file">Deleted</span>
                    {% endif %}
                    <span class="folder-name">{{ change.path }}</span><span class="file-name">{{ change.name }}</span>
                </div>
                {% if change.what == 'DIFF' %}
                    <div class="unfold-icon">
                        <span class="icon-down ui-icon ui-icon-triangle-1-s"></span>
                        <span class="icon-up ui-icon ui-icon-triangle-1-n"></span>
                    </div>
                {% endif %}
            </div>
            {% if change.what == 'DIFF' %}
                <div class="autocode-change-lines">
                    {#<div class="autocode-line">#}
                        {#<div class="autocode-line-number">{{ "%4s" | format("old") }}#}
                    {#</div>#}
                    {% set currentLine = -1 %}
                    {% for lineNumber, line in change.diff %}
                        {% if lineNumber - 1 != currentLine %}
                            <div class="autocode-line autocode-line-jump">
                                <div class="autocode-line-number">{{ "%4s" | format("...") }}</div>
                                <div class="autocode-line-text"></div>
                            </div>
                        {% endif %}

                        {% set currentLine = lineNumber %}

                        {% if line['d'] is not defined  %}
                            <div class="autocode-line">
                                <div class="autocode-line-number">{{ "%4s" | format(lineNumber) }}</div>
                                <div class="autocode-line-text">{{ line }}</div>
                            </div>
                        {% else %}
                            {% set lineNumberPrinted = false %}

                            {% for lineInserted in line['i'] %}
                                <div class="autocode-line autocode-line-inserted">
                                    <div class="autocode-line-number">{{ lineNumberPrinted ? " " : "%4s" | format(lineNumber) }}</div>
                                    <div class="autocode-line-text">{{ lineInserted }}</div>
                                </div>
                                {% set lineNumberPrinted = true %}
                            {% endfor %}
                            {% for lineDeleted in line['d'] %}
                                <div class="autocode-line autocode-line-deleted">
                                    <div class="autocode-line-number">{{ lineNumberPrinted ? " " : "%4s" | format(lineNumber) }}</div>
                                    <div class="autocode-line-text">{{ lineDeleted }}</div>
                                </div>
                                {% set lineNumberPrinted = true %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="autocode-no-changes">There are no outstanding changes!</div>
    {% endfor %}
{% else %}
    <div class="autocode-error">{{ error }}</div>
{% endif %}

<script>
    $("div.autocode-change").click(function () {
        $(this).find("div.autocode-change-lines").slideToggle();

        if ($(this).find("div.unfold-icon span.icon-down").first().css('display') === "none") {
            $(this).find("div.unfold-icon span.icon-down").css('display', 'block');
            $(this).find("div.unfold-icon span.icon-up").hide();
        } else {
            $(this).find("div.unfold-icon span.icon-down").hide();
            $(this).find("div.unfold-icon span.icon-up").css('display', 'block');
        }
    });
</script>
